.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: var(--box-shadow-sm);

  .title {
    display: flex;
    align-items: center;

    h1 {
      font-size: var(--font-size-h5);
    }

    shared-icon {
      margin-right: 8px;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    .new-collection {
      display: flex;
      margin-right: 8px;

      button {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        color: #fff;
        background: var(--color-primary);
        border-radius: 4px;
        transition: background-color var(--transitions-speed-fast);

        &:hover {
          background: var(--color-primary-hover);
        }

        shared-icon {
          margin-right: 4px;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      color: #fff;
      background: var(--color-primary);
      border-radius: 100%;
    }
  }
}

.body {
  padding: 30px;
}
