@use 'libs/shared/ui/scss';

.navbar {
  position: fixed;
  z-index: var(--z-index-navbar);
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 var(--space-32);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-sm);

    &__title {
      display: flex;
      align-items: center;

      h1 {
        font-size: var(--font-size-h6);

        @include scss.mixins-media-from-xl {
          font-size: var(--font-size-h5);
        }
      }

      shared-icon {
        margin-right: var(--space-8);
      }
    }

    &__menu {
      display: flex;
      gap: var(--space-8);
      align-items: center;
    }
  }
}
