<nav class="navbar">
  <div class="navbar__header">
    <a class="navbar__header__title" routerLink="/">
      <shared-icon name="video-camera"></shared-icon>
      <h1>Private Video Server</h1>
    </a>
    <div
      class="navbar__header__search"
      (sharedClickOutside)="isSearchVideosVisible = false"
    >
      <input
        #searchInputElement
        type="text"
        placeholder="Search"
        sharedInput
        (focusin)="isSearchVideosVisible = true"
        (input)="onSearchInput()"
      />
      <button
        iconName="search"
        shape="circle"
        sharedButton
        variant="contained"
      ></button>
      <ng-container *ngIf="searchVideos$ | async as searchVideos">
        <ng-container *ngIf="isSearchVideosVisible && searchVideos.length > 0">
          <collections-search-video-list
            [videos]="searchVideos"
          ></collections-search-video-list>
        </ng-container>
      </ng-container>
    </div>
    <div class="navbar__header__menu">
      <button
        iconName="add"
        sharedButton
        variant="text"
        (click)="onNewCollection($event)"
      >
        New Collection
      </button>
      <shared-action-menu>
        <button
          iconName="person"
          shape="circle"
          sharedActionMenuOrigin
          sharedButton
        ></button>

        <div sharedActionMenuDropdown>
          <shared-action-menu-list>
            <shared-action-menu-item iconName="logout" (click)="logout()"
              >Logout</shared-action-menu-item
            >
          </shared-action-menu-list>
        </div>
      </shared-action-menu>
    </div>
  </div>
</nav>

<shared-modal
  *ngIf="isNewCollectionModalOpen"
  (closed)="isNewCollectionModalOpen = false"
>
  <shared-modal-body (closed)="isNewCollectionModalOpen = false">
    <collections-form (added)="onCollectionAdded()"></collections-form>
  </shared-modal-body>
</shared-modal>
